.apps {
  width: 100%;
  height: 100%;
	z-index: 1;
}

/* pages */
.apps > div {
  position: absolute;
  width: 100%;
  height: 40rem;
  text-align: center;
  clear: both;
  margin: 0 auto;
  margin-top: 20rem;
}

.apps > div.page{
	transition: all 100ms ease-in-out;
}

.apps > div[data-current-page] {
  visibility: visible;
  z-index: 2000;
}

body[data-transitioning] .apps > div {
  visibility: visible;
}

.apps > div:first-child {
  text-align: left;
}

.apps ol {
  /*width: -moz-calc(4 * 35.5rem);*/
  width: 1420px;
  padding: 0;
  list-style-type: none;
  display: block;
  margin: 0 auto;
  margin-top: .3rem;
}

.apps ol > li {
  position: relative;
  /*width: 35rem;*/
  width: 350px;
  height: 14rem;
  display: inline-block;
  float: left;
  text-align: center;
  background-color: #159b0f;
  /*margin: 0.2rem;*/
  margin: 2px;
  transition: all 100ms ease-in-out;
}

.apps ol > li:hover, .apps ol > li:focus, .apps ol > li[data-active = 'true']{
	-moz-transform: scale(1.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 2000;
    background-color: #159b0f;
    background: -moz-linear-gradient(-45deg, #58ae56 0%, #159b0f 46%); /* FF3.6+ */


}
.apps ol > li[data-visible = 'false'] {
  visibility: hidden;
}

.apps ol > li[data-visible = 'true'] {
	visibility: visible;
  -moz-animation-name: scaling;
  -moz-animation-duration: 1.2s;
}

@-moz-keyframes scaling {
  0% { -moz-transform: scale(0); }
	100% { -moz-transform: scale(1); }
}

/* Maximum 16 icons for page */
.apps ol > li:nth-child(11) {
  display: none;
}

/* Option to delete apps */
.apps ol > li span.options {
  position: absolute;
  top: .2rem;
	left: 0;
  width: 100%;
  height: 2.6rem;
  z-index: 2;
  background: url(../resources/images/menu.png) no-repeat center top;
}

/* Container -> icon + label */
.apps ol > li > div {
  height: 100%;
  width: 100%;
  margin-top: .8rem;
  position: relative;
  pointer-events: none; /* NO touchable area */
}
.apps ol > li > div > canvas{
	margin-top: 3rem;
}

/* Handling the case where the status bar is double size */
/* XXX remove when the homescreen layout gets more dynamic */
@media screen and (max-height: 440px) {
  .apps ol > li > div {
    margin-top: .2rem;
  }
}

/* label wrapper */
.apps ol > li > div > span {
  overflow: hidden; /* We cut the text to avoid messing up the grid */
  word-wrap: break-word;
}

/* text label */
.apps ol > li > div > span > span {
  font-size: -moz-calc(6.2 * 0.226rem); /* 5pt */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.labelWrapper {
  text-transform: capitalize; /* First letter always capitalized */
  color: #fff; /* App label color */
  letter-spacing: 0.1rem;
  white-space: nowrap; /* NO new lines */
  display: block;
  width: 100%; /* At least 6% of margin between labels of different apps */
  position: absolute;
  bottom: 0;
  height: 2.2rem; /* 15px in otoro */
  margin: 0 auto;
  margin-bottom: .8rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  -moz-box-sizing: border-box;
  font-weight: 300;
  text-align: left;
  /*background-color: #000000;*/
}
