html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  overflow: hidden;
  background-color: #494b4b;
  background-image: -moz-linear-gradient(top, rgb(56,58,58) 0%, rgb(162,162,162) 58%, rgb(162,162,162) 70%, rgb(125,125,125) 100%);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #182026;
  opacity: .7;
  display: none;
}

* {
  -moz-user-select:none;
}

section,footer,nav,a,img {
  margin:  0;
  padding: 0;
  border:none;
}

#paginationBar {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 14rem;
  left: 20rem;
  z-index: 1;
  pointer-events: none;
  letter-spacing: 2px;
}

#paginationBar > .paginationScroller {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  -moz-transition: -moz-transform .35s ease;
  visibility: hidden;
  font-smooth: always;
}

#paginationBar > .paginationScroller > span[data-current] {
    color: #DBDBDB;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    -moz-animation-name: glow;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
}

#paginationBar > .paginationScroller > span {
    height: 100%;
    color: #838383;
    float: left;
    margin-right: 4rem;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    -moz-transition: all ease-in-out;
}

@-moz-keyframes glow {
  0% { text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);}
  100% { text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8); }
}

#icongrid {
  width: 100%;
  height: -moz-calc(100% - 7.5rem);
  position: fixed;
  top: 0;
  left: 0;
}

button:focus::-moz-focus-inner {
  border-color: transparent !important;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

button {
   outline: none;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 13.3px;
  }
}

html[dir=rtl] .apps ol > li {
  float: right;
}

li:active {
  background-color: transparent !important;
}
